<!DOCTYPE html>
<html>
<head>
    <title>Student Data Lookup</title>
</head>
<body>
    <h1 align="middle">MADANAPALLE INSTITUTE OF TECHNOLOGY & SCIENCE</h1>
    <h1>Enter Student Roll Number:</h1>
    <form method="post" action="/">
        <input type="text" name="Roll_Number" placeholder="Roll Number" required>
        <input type="submit" name="search" value="Search">
    </form>

    {% if student_data %}
        <h2>Student Details:</h2>
        <p><strong>Roll Number:</strong> {{ student_data.Roll_number }}</p>
        <p><strong>Name:</strong> {{ student_data.Name }}</p>
        <p><strong>Department:</strong> {{ student_data.Department }}</p>
        <p><strong>Outlook mail:-</strong> {{ student_data.Outlook }}</p>

        {% if email_sent %}
            <p><strong>Email Sent:</strong> successfully completed</p>
        {% else %}
            <form method="post" action="/">
                <input type="hidden" name="roll_number" value="{{ student_data.Roll_number }}">
                <input type="submit" name="send_email" value="Send Email">
            </form>
        {% endif %}
        
        <p><a href="/book"><img src="C:\Users\Gokul Krishna\Desktop\book.jpg"></a></p>
        
    {% endif %}
</body>
</html>
